@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
}

option {
  color: black;
}

.wrapperClassName {
  border: 1px solid grey;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.toolbarClassName {
  border-radius: 16px;
}

.toolbarClassName input {
  background-color: white;
  color: black;
}

/* ---- Cross-editor content styles. --------------------------------------------------------------- */
.ck.ck-content:not(.ck-style-grid__button__preview):not(.ck-editor__nested-editable) {
  /* Make sure all content containers have some min height to make them easier to locate. */
  min-height: 300px;
  padding: 1em 1.5em;
}

/* Make sure all content containers are distinguishable on a web page even of not focused. */
.ck.ck-content:not(:focus) {
  border: 1px solid var(--ck-color-base-border);
}

/* Fix for editor styles overflowing into comment reply fields */
.ck-comment__input .ck.ck-content {
  min-height: unset;
  border: 0;
  padding: 0;
}

/* Font sizes and vertical rhythm for common elements (headings, lists, paragraphs, etc.) */
.ck-content h1 {
  font-size: 2.3em;
}

.ck-content h2 {
  font-size: 1.84em;
}

.ck-content h3 {
  font-size: 1.48em;
}

.ck-content h4 {
  font-size: 1.22em;
}

.ck-content h5 {
  font-size: 1.06em;
}

.ck-content h6 {
  font-size: 1em;
}

.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6 {
  line-height: 1.2em;
  padding-top: 0.8em;
  margin-bottom: 0.4em;
}

.ck-content blockquote,
.ck-content ol,
.ck-content p,
.ck-content ul {
  font-size: 1em;
  line-height: 1.6em;
  padding-top: 0.2em;
  margin-bottom: var(--ck-spacing-large);
}

.ck-editor__editable {
  color: black;
}

body.chakra-ui-dark .ck-editor__editable_inline[contenteditable='false'] {
  border: none !important;
}

body.chakra-ui-light .ck-editor__editable_inline[contenteditable='false'] {
  border: none !important;
}

.ck-editor__editable_inline[contenteditable='true'] {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

body.chakra-ui-light .ck-editor__editable_inline {
  background-color: transparent !important;
  color: #000;
}

body.chakra-ui-dark .ck-editor__editable_inline {
  background-color: transparent !important;
  border: 1px solid rgba(135, 140, 189, 0.3) !important;
  color: #ffffff;
}

.ck.ck-powered-by {
  display: none !important;
}

.no-border-editor .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content, td .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border: none;
}

.no-border-editor .ck.ck-content:not(.ck-style-grid__button__preview):not(.ck-editor__nested-editable), td .ck.ck-content:not(.ck-style-grid__button__preview):not(.ck-editor__nested-editable) {
  /* Make sure all content containers have some min height to make them easier to locate. */
  min-height: 0;
  padding: 0;
}

body.chakra-ui-light .ck-content pre {
  color: #111111;
}

body.chakra-ui-dark .ck-content pre {
  color: #dddddd;
}

body.chakra-ui-light .ck-editor__editable {
  color: #000000;
}

body.chakra-ui-dark .ck-editor__editable {
  color: #ffffff;
}

.ck-balloon-panel {
  z-index: 1300000 !important;
}